<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# SQL Programming - Inner Joins

## 1.0 Lets connect to our Database

In [3]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

'Connected: @None'

In [4]:
# Importing Pandas
import pandas as pd
import csv

## 1.1 Loading our Datasets

Datasets used in this notebook:


1.   **Countries**

> Dataset of European Countries. ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1Vz0URHRmUsG17fpzWa02RsCBI2TbPXeV/view?usp=sharing))

2.   **Cities** 

> Dataset of European Cities. ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1-S8sact6Ae-A06wntUmBBlr5NH43VLY0/view?usp=sharing))

In [5]:
# Let's load our Countries dataset below
# 
with open('Countries.csv','r') as f:
    Countries = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS Countries;
%sql PERSIST Countries;
%sql SELECT * FROM Countries LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Albania', 2.9, 'no', 'yes'),
 ('Andorra', 0.07, 'no', 'no'),
 ('Austria', 8.57, 'yes', 'no'),
 ('Belarus', 9.48, 'no', 'no'),
 ('Belgium', 11.37, 'yes', 'yes')]

In [6]:
# Let's load our Cities dataset below
#
with open('Cities.csv','r') as f:
    Cities = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS Cities;
%sql PERSIST Cities;
%sql SELECT * FROM Cities LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Aalborg', 'Denmark', 57.03, 9.92, 7.52),
 ('Aberdeen', 'United Kingdom', 57.17, -2.08, 8.1),
 ('Abisko', 'Sweden', 63.35, 18.83, 0.2),
 ('Adana', 'Turkey', 36.99, 35.32, 18.67),
 ('Albacete', 'Spain', 39.0, -1.87, 12.62)]

## 1.2 Getting Started

Let's try to learn from the given example below, then apply our learnings to the given challenges using the **`INNER JOIN`** statement;

In [7]:
# Example 1 
# First let's look at the syntax code for the inner join statement
# 
# SELECT <Column names>
# FROM table1 INNER JOIN table2
# ON table1.column_name = table2.column_name
# 
# On the first line, we select the columns from which we want to join. 
#This columns can be from both tables.
# On the second line, we explicitly declare the tables we are joining.
# on the third line, we give the search condition. Remember, 
#for us to be able to do inner join or any type of join, there must be a 
#column that is a match in both tables. 
# So the search condition simply tells SQL the column that is the same in both tables


# Let's find all the cities with latitude < 50 in a country with population < 5; 
# and return the city, country, and population, sorted by country
# 
%%sql
SELECT city, Cities.country, population
FROM Cities INNER JOIN Countries
     ON Cities.country = Countries.country
WHERE latitude < 50 AND population < 5
ORDER BY Cities.country

 * sqlite://
Done.

[('Elbasan', 'Albania', 2.9),
 ('Andorra', 'Andorra', 0.07),
 ('Sarajevo', 'Bosnia and Herzegovina', 3.8),
 ('Rijeka', 'Croatia', 4.23),
 ('Split', 'Croatia', 4.23),
 ('Skopje', 'Macedonia', 2.08),
 ('Balti', 'Moldova', 4.06),
 ('Chisinau', 'Moldova', 4.06),
 ('Podgorica', 'Montenegro', 0.63),
 ('Ljubljana', 'Slovenia', 2.07)]

### <font color="green">1.2 Challenges</font>

In [9]:
# Challenge 1
# Let's find a city with temperature > 10 that belongs to the EU and doesn't have a coastline, 
# returning the city, coastline and ordered by temperature
#
%%sql 
SELECT city,Cities.country,temperature
FROM Cities INNER JOIN Countries ON Cities.country = Countries.country
WHERE temperature > 10 AND coastline ="no" ORDER BY temperature

 * sqlite://
Done.

[('Novi Sad', 'Serbia', 10.34), ('Szeged', 'Hungary', 10.34)]

In [11]:
# Challenge 2
# Let's find all cities with latitude > 45 in a country with no coastline and with population > 9,
# returning the city, country, latitude, and whether it's in the EU.
#
%%sql 
SELECT city,Cities.country,temperature,latitude,EU
FROM Cities INNER JOIN Countries ON Cities.country = Countries.country
WHERE LATITUDE >45 AND COASTLINE ="no" AND POPULATION >0

 * sqlite://
Done.

[('Balti', 'Moldova', 8.23, 47.76, 'no'),
 ('Basel', 'Switzerland', 6.68, 47.58, 'no'),
 ('Bratislava', 'Slovakia', 9.65, 48.15, 'yes'),
 ('Brest', 'Belarus', 6.73, 52.1, 'no'),
 ('Brno', 'Czech Republic', 7.86, 49.2, 'yes'),
 ('Budapest', 'Hungary', 9.55, 47.5, 'yes'),
 ('Chisinau', 'Moldova', 8.6, 47.01, 'no'),
 ('Debrecen', 'Hungary', 8.87, 47.53, 'yes'),
 ('Geneva', 'Switzerland', 8.4, 46.21, 'no'),
 ('Graz', 'Austria', 6.91, 47.08, 'yes'),
 ('Gyor', 'Hungary', 9.65, 47.7, 'yes'),
 ('Hrodna', 'Belarus', 6.07, 53.68, 'no'),
 ('Innsbruck', 'Austria', 4.54, 47.28, 'yes'),
 ('Kosice', 'Slovakia', 7.31, 48.73, 'yes'),
 ('Linz', 'Austria', 6.79, 48.32, 'yes'),
 ('Mazyr', 'Belarus', 6.25, 52.05, 'no'),
 ('Minsk', 'Belarus', 5.28, 53.9, 'no'),
 ('Novi Sad', 'Serbia', 10.34, 45.25, 'no'),
 ('Orsha', 'Belarus', 4.93, 54.52, 'no'),
 ('Ostrava', 'Czech Republic', 7.66, 49.83, 'yes'),
 ('Pinsk', 'Belarus', 6.42, 52.13, 'no'),
 ('Prague', 'Czech Republic', 8.05, 50.08, 'yes'),
 ('Salzburg', 'Austria', 4.62, 47.81, 'yes'),
 ('Szeged', 'Hungary', 10.34, 46.25, 'yes'),
 ('Vienna', 'Austria', 7.86, 48.2, 'yes'),
 ('Zurich', 'Switzerland', 6.68, 47.38, 'no')]

In [13]:
# Challenge 3
# Let's find the average temperature of non-european cities with a latitude > 45
# 
%%sql 
SELECT AVG(temperature) FROM Cities 
INNER JOIN Countries ON Cities.country = Countries.country
WHERE EU = "no" AND LATITUDE >45

 * sqlite://
Done.

[(6.704375,)]

In [15]:
# Challenge 4 
# Let's find minimum and maxiumum temperature of european cities with latitude > 45
# 
%%sql 
SELECT MIN(temperature), MAX(temperature) FROM Cities 
INNER JOIN Countries ON Cities.country = Countries.country
WHERE EU = "yes" AND LATITUDE >45

 * sqlite://
Done.

[(-2.2, 11.21)]

In [16]:
# Challenge 5
# Let's find the number of european cities with a latitude > 45
# 
%%sql 
SELECT COUNT(CITY) FROM Cities 
INNER JOIN Countries ON Cities.country = Countries.country
WHERE EU = "yes" AND LATITUDE >45

 * sqlite://
Done.

[(99,)]

In [17]:
# Challenge 6
# Which european cities belong to a country with a coastline?
# 
%%sql 
SELECT CITY FROM Cities 
INNER JOIN Countries ON Cities.country = Countries.country
WHERE EU = "yes" AND COASTLINE = "yes"

 * sqlite://
Done.

[('Aalborg',),
 ('Aberdeen',),
 ('Abisko',),
 ('Albacete',),
 ('Algeciras',),
 ('Amiens',),
 ('Amsterdam',),
 ('Ancona',),
 ('Angers',),
 ('Arad',),
 ('Athens',),
 ('Augsburg',),
 ('Bacau',),
 ('Badajoz',),
 ('Baia Mare',),
 ('Barcelona',),
 ('Bari',),
 ('Belfast',),
 ('Bergamo',),
 ('Berlin',),
 ('Bialystok',),
 ('Bielefeld',),
 ('Bilbao',),
 ('Birmingham',),
 ('Blackpool',),
 ('Bologna',),
 ('Bonn',),
 ('Bordeaux',),
 ('Botosani',),
 ('Bournemouth',),
 ('Bradford',),
 ('Braga',),
 ('Braila',),
 ('Bremen',),
 ('Brest',),
 ('Brugge',),
 ('Bucharest',),
 ('Burgas',),
 ('Burgos',),
 ('Bydgoszcz',),
 ('Bytom',),
 ('Caen',),
 ('Cambridge',),
 ('Cartagena',),
 ('Catania',),
 ('Chemnitz',),
 ('Constanta',),
 ('Cork',),
 ('Cosenza',),
 ('Craiova',),
 ('Daugavpils',),
 ('Dijon',),
 ('Dublin',),
 ('Dundee',),
 ('Edinburgh',),
 ('Elblag',),
 ('Erfurt',),
 ('Exeter',),
 ('Foggia',),
 ('Frankfurt',),
 ('Freiburg',),
 ('Galway',),
 ('Genoa',),
 ('Glasgow',),
 ('Göteborg',),
 ('Granada',),
 ('Grenoble',),
 ('Groningen',),
 ('Heidelberg',),
 ('Helsinki',),
 ('Huelva',),
 ('Ingolstadt',),
 ('Inverness',),
 ('Kalamata',),
 ('Karlsruhe',),
 ('Kaunas',),
 ('Kielce',),
 ('Kiruna',),
 ('Klaipeda',),
 ('Koszalin',),
 ('Le Mans',),
 ('Lille',),
 ('Limoges',),
 ('Lisbon',),
 ('Ljubljana',),
 ('Maastricht',),
 ('Madrid',),
 ('Magdeburg',),
 ('Malmö',),
 ('Marbella',),
 ('Marseille',),
 ('Messina',),
 ('Metz',),
 ('Milan',),
 ('Montpellier',),
 ('Mulhouse',),
 ('Murcia',),
 ('Nice',),
 ('Odense',),
 ('Oulu',),
 ('Oviedo',),
 ('Palermo',),
 ('Patras',),
 ('Perpignan',),
 ('Perugia',),
 ('Pescara',),
 ('Pleven',),
 ('Plovdiv',),
 ('Poznan',),
 ('Reims',),
 ('Riga',),
 ('Rijeka',),
 ('Rome',),
 ('Rostock',),
 ('Ruse',),
 ('Salamanca',),
 ('Santander',),
 ('Sibiu',),
 ('Split',),
 ('Stara Zagora',),
 ('Stockholm',),
 ('Swansea',),
 ('Tallinn',),
 ('Tampere',),
 ('Tartu',),
 ('Toulouse',),
 ('Trieste',),
 ('Trikala',),
 ('Turku',),
 ('Uppsala',),
 ('Valencia',),
 ('Vigo',),
 ('Vilnius',),
 ('Warsaw',),
 ('Wroclaw',),
 ('Zaragoza',)]