#Importing the Libraries to be used

In [23]:
import pandas as pd
import numpy as np

# Loading the datasets

In [24]:
#Loading the cells_geo_description.xlsx dataset
df_geo_desc = pd.read_excel("cells_geo_description.xlsx")

# View the first ten rows
df_geo_desc.head(10)

    Column name        Description  Format
0        VILLES               City  String
1        STATUS  In Service or not  String
2  LOCALISATION  in ABIDJAN or not  String
3    DECOUPZONE  Geographical Zone  String
4      ZONENAME       Name of Zone  String
5     LONGITUDE          Longitude   Float
6      LATITUDE           Latitude   Float
7        REGION             Region  String
8          AREA               Area  String
9       CELL_ID     ID of the cell  String

In [39]:
#Loading the cells_geo.csv dataset
df_cells_geo = pd.read_csv("cells_geo.csv", delimiter =";")

# View the first ten rows
df_cells_geo.head()

   Unnamed: 0   VILLES      STATUS  ... AREA     CELL_ID   SITE_CODE
0           0   ADJAME  In Service  ...  NaN  fbb2e75af3  0bb492ef17
1           1   ADJAME  In Service  ...  NaN  1502501d78  0bb492ef17
2           2   ADJAME  In Service  ...  NaN  0c2e182a0c  0bb492ef17
3           3  ASSINIE  In Service  ...  NaN  69bdfc69fd  8a1e6ce31f
4           4  ASSINIE  In Service  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 12 columns]

In [40]:
#Getting the table info
df_cells_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3974 entries, 0 to 3973
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    3974 non-null   int64
 1   VILLES        3974 non-null   object
 2   STATUS        3907 non-null   object
 3   LOCALISATION  3974 non-null   object
 4   DECOUPZONE    3974 non-null   object
 5   ZONENAME      3968 non-null   object
 6   LONGITUDE     3974 non-null   float64
 7   LATITUDE      3974 non-null   float64
 8   REGION        3974 non-null   object
 9   AREA          3951 non-null   object
 10  CELL_ID       3974 non-null   object
 11  SITE_CODE     3974 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 372.7+ KB

In [26]:
#Loading the CDR_description.xlsx dataset
df_CDR_desc = pd.read_excel("CDR_description.xlsx")

# View the first ten rows
df_CDR_desc.head(10)

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [27]:
#Loading CDR 20120507
df_CDR1 = pd.read_csv("http://bit.ly/Telcom_dataset1")
df_CDR1
# View the first ten rows
df_CDR1.head(10)

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
5    data      0  2012-05-06 23:07:26.0  ...     OTHER  /lrUXVGVcN  /lrUXVGVcN
6   Voice      0  2012-05-06 23:08:02.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
7   Voice      0  2012-05-06 23:08:03.0  ...     19e2e  09UjmmY1Ds  09UjmmY1Ds
8   Voice      0  2012-05-06 23:08:05.0  ...     19e2e  0DeimCpZOc  0DeimCpZOc
9     sms      0  2012-05-06 23:08:43.0  ...     19e2e  01MDiY5F89  01MDiY5F89

[10 rows x 10 columns]

In [28]:
#Getting the table info
df_CDR1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUTC          5001 non-null   object
 1   VALUE            5001 non-null   int64
 2   DATETIME         5001 non-null   object
 3   CELL_ON_SITE     5001 non-null   object
 4   DW_A_NUMBER_INT  5001 non-null   object
 5   DW_B_NUMBER_INT  5001 non-null   object
 6   COUNTRY_A        5001 non-null   object
 7   COUNTRY_B        5001 non-null   object
 8   CELL_ID          5001 non-null   object
 9   SITE_ID          4285 non-null   object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [29]:
#Loading CDR 20120508
df_CDR2 = pd.read_csv("http://bit.ly/Telcom_dataset2")
df_CDR2
# View the first ten rows
df_CDR2.head(10)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
5     sms      0  2012-05-07 23:05:41.0  ...     19e2e  /MMplBlWjh  /MMplBlWjh
6   Voice     41  2012-05-07 23:06:14.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
7   Voice     11  2012-05-07 23:06:28.0  ...     19e2e  +gySf02tKW  +gySf02tKW
8     sms      0  2012-05-07 23:06:35.0  ...     OTHER  /0FxP3az1x  /0FxP3az1x
9     sms      0  2012-05-07 23:06:50.0  ...     19e2e  0ecjmwPX21  0ecjmwPX21

[10 rows x 10 columns]

In [30]:
#Getting the table info
df_CDR2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PRODUCT       5001 non-null   object
 1   VALUE         5001 non-null   int64
 2   DATE_TIME     5001 non-null   object
 3   CELL_ON_SITE  5001 non-null   object
 4   DW_A_NUMBER   5001 non-null   object
 5   DW_B_NUMBER   5001 non-null   object
 6   COUNTRY_A     5001 non-null   object
 7   COUNTRY_B     5001 non-null   object
 8   CELL_ID       5001 non-null   object
 9   SITE_ID       4325 non-null   object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [31]:
#Loading CDR 20120509
df_CDR3 = pd.read_csv("http://bit.ly/Telcom_dataset3")
df_CDR3
# View the first ten rows
df_CDR3.head(10)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
5   Voice     10  2012-05-08 23:03:59.0  ...     19e2e  +e+xcimwre  +e+xcimwre
6     sms      0  2012-05-08 23:06:06.0  ...     19e2e  +R5ccmtyJf  +R5ccmtyJf
7   Voice     10  2012-05-08 23:06:55.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
8     sms     25  2012-05-08 23:07:09.0  ...     19e2e  13O1+JEun3  13O1+JEun3
9     sms      0  2012-05-08 23:07:38.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[10 rows x 10 columns]

In [32]:
#Getting the table info
df_CDR3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          5001 non-null   object
 1   VALUE            5001 non-null   int64
 2   DATE_TIME        5001 non-null   object
 3   CELL_ON_SITE     5001 non-null   object
 4   DW_A_NUMBER_INT  5001 non-null   object
 5   DW_B_NUMBER_INT  5001 non-null   object
 6   COUNTRY_A        5001 non-null   object
 7   COUNTRY_B        5001 non-null   object
 8   CELLID           5001 non-null   object
 9   SIET_ID          4396 non-null   object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

#Data Cleaning

In [33]:
#Changing Column Names on df_CDR1 to be uniform across the three datasets
df_CDR11 = df_CDR1.rename(columns={'PRODUTC': 'PRODUCT','DATETIME' : 'DATE_TIME'})
df_CDR11.head()
# df_CDR22 = df_CDR2.rename(columns={'DW_A_NUMBER':'DW_A_NUMBER_INT','DW_B_NUMBER':'DW_B_NUMBER_INT'})
# df_CDR33 = df_CDR3.rename(columns={'CELLID': 'CELL_ID'})

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [34]:
#Changing Column Names on df_CDR2 to be uniform across the three datasets
df_CDR22 = df_CDR2.rename(columns={'DW_A_NUMBER':'DW_A_NUMBER_INT','DW_B_NUMBER':'DW_B_NUMBER_INT'})
df_CDR22.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [35]:
#Changing Column Names on df_CDR3 to be uniform across the three datasets
df_CDR33 = df_CDR3.rename(columns={'CELLID': 'CELL_ID','SIET_ID':'SITE_ID'})
df_CDR33.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

In [67]:
#Changing Column Names on df_cells_geo to be uniform across the datasets
df_cells_geo = df_cells_geo.rename(columns={'SITE_CODE':'SITE_ID'})
df_cells_geo.head()

   Unnamed: 0   VILLES      STATUS  ... AREA     CELL_ID     SITE_ID
0           0   ADJAME  In Service  ...  NaN  fbb2e75af3  0bb492ef17
1           1   ADJAME  In Service  ...  NaN  1502501d78  0bb492ef17
2           2   ADJAME  In Service  ...  NaN  0c2e182a0c  0bb492ef17
3           3  ASSINIE  In Service  ...  NaN  69bdfc69fd  8a1e6ce31f
4           4  ASSINIE  In Service  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 12 columns]

In [62]:
#Cleaning the CELL_ID column
df_CDR11['CELL_ID'] = df_CDR11['CELL_ID'].str.replace('+','')
df_CDR11['CELL_ID'] = df_CDR11['CELL_ID'].str.replace('/','')
df_CDR22['CELL_ID'] = df_CDR22['CELL_ID'].str.replace('+','')
df_CDR22['CELL_ID'] = df_CDR22['CELL_ID'].str.replace('/','')
df_CDR33['CELL_ID'] = df_CDR33['CELL_ID'].str.replace('+','')
df_CDR33['CELL_ID'] = df_CDR33['CELL_ID'].str.replace('/','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

#Data Preparation

In [63]:
#concatanating the three tables
join = [df_CDR11, df_CDR22, df_CDR33]
result = pd.concat(join)
result.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e    TJNeMmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e    cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e    u0FSDahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e   cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [64]:
#result table info
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15003 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          15003 non-null  object
 1   VALUE            15003 non-null  int64
 2   DATE_TIME        15003 non-null  object
 3   CELL_ON_SITE     15003 non-null  object
 4   DW_A_NUMBER_INT  15003 non-null  object
 5   DW_B_NUMBER_INT  15003 non-null  object
 6   COUNTRY_A        15003 non-null  object
 7   COUNTRY_B        15003 non-null  object
 8   CELL_ID          15003 non-null  object
 9   SITE_ID          13006 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.3+ MB

In [68]:
#Joining the result table to df_cells_geo on CELL_ID
dataset = pd.merge(result, df_cells_geo, on='SITE_ID', how="left")

dataset.head(200)

    PRODUCT  VALUE              DATE_TIME  ... REGION AREA CELL_ID_y
0     Voice      0  2012-05-06 23:04:37.0  ...    NaN  NaN       NaN
1       sms      0  2012-05-06 23:05:25.0  ...    NaN  NaN       NaN
2       sms     25  2012-05-06 23:05:41.0  ...    NaN  NaN       NaN
3     Voice     56  2012-05-06 23:05:42.0  ...    NaN  NaN       NaN
4     Voice     14  2012-05-06 23:06:29.0  ...    NaN  NaN       NaN
..      ...    ...                    ...  ...    ...  ...       ...
195     sms      0  2012-05-06 23:31:48.0  ...    NaN  NaN       NaN
196     sms      0  2012-05-06 23:31:50.0  ...    NaN  NaN       NaN
197   Voice      0  2012-05-06 23:31:53.0  ...    NaN  NaN       NaN
198   Voice    300  2012-05-06 23:31:58.0  ...    NaN  NaN       NaN
199   Voice     55  2012-05-06 23:32:05.0  ...    NaN  NaN       NaN

[200 rows x 21 columns]

In [69]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55916 entries, 0 to 55915
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          55916 non-null  object
 1   VALUE            55916 non-null  int64
 2   DATE_TIME        55916 non-null  object
 3   CELL_ON_SITE     55916 non-null  object
 4   DW_A_NUMBER_INT  55916 non-null  object
 5   DW_B_NUMBER_INT  55916 non-null  object
 6   COUNTRY_A        55916 non-null  object
 7   COUNTRY_B        55916 non-null  object
 8   CELL_ID_x        55916 non-null  object
 9   SITE_ID          53919 non-null  object
 10  Unnamed: 0       51361 non-null  float64
 11  VILLES           51361 non-null  object
 12  STATUS           50645 non-null  object
 13  LOCALISATION     51361 non-null  object
 14  DECOUPZONE       51361 non-null  object
 15  ZONENAME         51343 non-null  object
 16  LONGITUDE        51361 non-null  float64
 17  LATITUDE         51361 non-null  float64
 18  REGION           51361 non-null  object
 19  AREA             51105 non-null  object
 20  CELL_ID_y        51361 non-null  object
dtypes: float64(3), int64(1), object(17)
memory usage: 9.4+ MB

#Data Analysis

In [75]:
#Most used city for the three days
dataset.VILLES.value_counts().head(10)

YOPOUGON        8720
ABOBO           6266
COCODY          3814
ADJAME          2703
KOUMASSI        2333
MARCORY         2189
YAMOUSSOUKRO    2148
TREICHVILLE     2053
DALOA           1762
ATTECOUBE       1682
Name: VILLES, dtype: int64

In [76]:
#Cities with the highest number of used Cellphones
df_cells_geo.VILLES.value_counts().head(10)

COCODY          354
YOPOUGON        295
ABOBO           255
MARCORY         141
TREICHVILLE     132
ADJAME          110
YAMOUSSOUKRO    104
PLATEAU         103
KOUMASSI         91
BOUAKE           65
Name: VILLES, dtype: int64

In [90]:
#Most used Regions
dataset.REGION.value_counts().head(10)

LAGUNE               33684
LACS                  2484
BAS SASSANDRA         2395
HAUT SASSANDRA        2313
VALLEE DU BANDAMA     1575
SUD BANDAMA           1533
SAVANE                1017
18 MONTAGNES           957
FROMAGER               916
WORODOUGOU             795
Name: REGION, dtype: int64

In [97]:
#Most billed cities
dataset.groupby(['VILLES'])['VALUE'].sum().sort_values(ascending=False).head(10)

VILLES
YOPOUGON        216320
COCODY          190748
ABOBO           125921
KOUMASSI         71855
TREICHVILLE      67553
ADJAME           65652
MARCORY          61992
YAMOUSSOUKRO     45798
SAN-PEDRO        44937
PORT-BOUET       40016
Name: VALUE, dtype: int64