<font color="green">To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.</font>

# Python Programming:  Simple Random Sampling

## Importing our Libraries

In [1]:
# importing numpy
import numpy as np

# importing pandas
import pandas as pd

# importing random module
# we will use random.sample() function to return a k length 
# list of unique elements chosen from our population
import random

## 1.0 Selecting More than One item from a List

In [6]:
# Example 1
# ---
# Selecting more than one item from a list 

list = [20, 40, 80, 100, 120]
print ("Choosing 3 random items from a list using sample function", random.sample(list, k=3))

list = [20, 40, 20, 20, 20]
print ("Choosing 3 random items from a list using sample function",random.sample(list, k=3))

# As you can see we pass k=3 to choose 3 random elements from a list. 
# In return, we got a list of 3 random items.

Choosing 3 random items from a list using sample function [120, 100, 20]
Choosing 3 random items from a list using sample function [20, 40, 20]

### <font color="green"> 1.0 Challenges</font>

In [11]:
# Challenge 1
# ---
# Question: Create a list containing 10 counties in Kenya 
# then select 2 random counties from the list.
listn = ['nakuru', 'nairobi', 'kisumu', 'mombasa','narok','makueni','kitui','machakos','kilifi','kwale']
print ("Choosing 3 random items from a list using sample function", random.sample(listn, k=3))

Choosing 3 random items from a list using sample function ['machakos', 'kisumu', 'mombasa']

## 2.0  Selecting the Random Sample from Dictionary

In [12]:
# Example 1
# ---
# We can select a random key-value pair from the dictionary as shown 
# ---
#
marks_dict = {
  "Kelly": 55,
  "jhon": 70,
  "Donald": 60,
  "Lennin" :50
}

print ("Choosing 2 random items from a dictionary using sample method ", random.sample(marks_dict.items(), k=2))

Choosing 2 random items from a dictionary using sample method  [('jhon', 70), ('Lennin', 50)]

### <font color="green">2.0 Challenges</font>

In [13]:
# Challenge 1
# ---
# A caterer offers three different food packages; 
# bronze package: starch:rice stew:chicken curry vegetable:cabbages desert:melon
# silver package: starch:rice and chappati  stew:beef curry vegetable:spinach desert:melon and bananas
# gold package: starch:rice, chappati and mukimo stew: beef curry vegetable:spinach and managu desert: tart
# Create a dictionary that stores the above information and select a sample of size 2 
# ---
package_dict = {
  "bronze package": 'starch:rice stew:chicken curry vegetable:cabbages desert:melon',
  "silver package": 'starch:rice and chappati  stew:beef curry vegetable:spinach desert:melon and bananas',
  "gold package": 'starch:rice, chappati and mukimo stew: beef curry vegetable:spinach and managu desert: tart',
}
print ("Choosing 2 random items from a dictionary using sample method ", random.sample(package_dict.items(), k=2))

Choosing 2 random items from a dictionary using sample method  [('gold package', 'starch:rice, chappati and mukimo stew: beef curry vegetable:spinach and managu desert: tart'), ('silver package', 'starch:rice and chappati  stew:beef curry vegetable:spinach desert:melon and bananas')]

## 3.0 Selecting a Random Sample with Replacement to including repetition

In [20]:
# Example 1
# ---
# We can select a random sample with replacement to include repetition as shown below
# ---
# 
names = ["Roger", "Nadal", "Novac", "Andre", "Sarena", "Mariya", "Martina"]

print("random sample with replacement to including repetition ", random.choices(names, k=3))

random sample with replacement to including repetition  ['Sarena', 'Andre', 'Sarena']

### <font color="green">3.0 Challenges</font>

In [21]:
# Challenge 1
# ---
# Question: Select a random sample of 3 with replacement to include replacement from the 
# following list of months
# ---
#

months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
          'August', 'September', 'October', 'November', 'December']

print("random sample with replacement to including repetition ", random.choices(months, k=3))

random sample with replacement to including repetition  ['June', 'March', 'July']

## 4.0 Selecting a Random Sample from a Range of Integers

In [22]:
# Example 1
# ---
# We can select a random sample from a range of integers as shown below
# ---
# 

weight_set = {40, 50, 55, 65, 75, 80}

print ("Choosing 4 random items from a set ", random.sample(weight_set, k=4))

Choosing 4 random items from a set  [50, 75, 55, 80]

### <font color="green">4.1 Challenges</font>

In [23]:
# Challenge 1
# ---
# Question: Select a random sample from a range of integers as shown below
# --- 
# 
weight_set = {4, 5, 6, 7, 8, 9, 10}

print ("Choosing 4 random items from a set ", random.sample(weight_set, k=4))

Choosing 4 random items from a set  [4, 7, 9, 8]

## 5.0 Selecting a Sample Array from a Large multidimensional Array

In [24]:
# Example 1
# ---
# We can select a sample array from a large multidimensional array as shown
# ---
# 

array = np.array([[2 ,4, 6], [5, 10, 15], [6, 12, 18], [7, 14, 21], [8, 16, 24]]) 
print("Printing 2D Array")
print(array)

# selecting multiple random rows from the 2D as shown
print("Selecting multiple random rows from the 2D array")
randomRows = np.random.randint(5, size=2)
for i in randomRows:
  print(array[i,:])

Printing 2D Array
[[ 2  4  6]
 [ 5 10 15]
 [ 6 12 18]
 [ 7 14 21]
 [ 8 16 24]]
Selecting multiple random rows from the 2D array
[ 6 12 18]
[ 7 14 21]

### <font color="green">5.0 Challenges</font>

In [26]:
# Challenge 1
# ---
# Question: Select two arrays from the given multidimensional array
# ---
# 

a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [1 ,2 , 4, 5, 6], [5, 10, 15, 20, 25], [6, 12, 18, 24, 30], [7, 14, 21, 28, 35]]  
array = np.array(a) 
print("Printing 2D Array")
print(array)

# selecting multiple random rows from the 2D as shown
print("Selecting multiple random rows from the 2D array")
randomRows = np.random.randint(5, size=2)
for i in randomRows:
  print(array[i,:])

Printing 2D Array
[[ 2  4  6  8 10]
 [ 3  6  9 12 15]
 [ 4  8 12 16 20]
 [ 1  2  4  5  6]
 [ 5 10 15 20 25]
 [ 6 12 18 24 30]
 [ 7 14 21 28 35]]
Selecting multiple random rows from the 2D array
[ 2  4  6  8 10]
[ 4  8 12 16 20]

## 6.0 Selecting Random Samples from a Dataset

In [29]:
# Example 1
# ---
# Selecting a random sample from the following medical appointments dataset
# ---
# Dataset url = http://bit.ly/MedicalAppointmentsDataset
# ---
# 

# Loading the dataset
medical_df = pd.read_csv("http://bit.ly/MedicalAppointmentsDataset")

# Determining the size
print(medical_df.shape)


# Previewing the dataset
print(medical_df.head())

# Selecting the sample 
medical_sample = medical_df.sample(n = 10, replace="False")
print(medical_sample)

(110527, 14)
      PatientId  AppointmentID Gender          ScheduledDay  \
0  2.987250e+13        5642903      F  2016-04-29T18:38:08Z
1  5.589978e+14        5642503      M  2016-04-29T16:08:27Z
2  4.262962e+12        5642549      F  2016-04-29T16:19:04Z
3  8.679512e+11        5642828      F  2016-04-29T17:29:31Z
4  8.841186e+12        5642494      F  2016-04-29T16:07:23Z

         AppointmentDay  Age      Neighbourhood  Scholarship  Hipertension  \
0  2016-04-29T00:00:00Z   62    JARDIM DA PENHA            0             1
1  2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0             0
2  2016-04-29T00:00:00Z   62      MATA DA PRAIA            0             0
3  2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI            0             0
4  2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0             1

   Diabetes  Alcoholism  Handcap  SMS_received No-show
0         0           0        0             0      No
1         0           0        0             0      No
2         0           0        0             0      No
3         0           0        0             0      No
4         1           0        0             0      No
           PatientId  AppointmentID Gender          ScheduledDay  \
91581   7.124323e+14        5758548      M  2016-06-01T10:53:26Z
20935   1.622654e+14        5644982      F  2016-05-02T09:21:39Z
76632   8.694464e+13        5742800      F  2016-05-30T08:23:22Z
105701  2.833933e+13        5773724      F  2016-06-06T07:28:51Z
93761   2.591167e+12        5728608      M  2016-05-20T16:59:54Z
75031   3.559475e+13        5644796      F  2016-05-02T09:07:31Z
9775    2.559988e+12        5661063      F  2016-05-05T07:10:27Z
102150  3.651977e+13        5755470      F  2016-06-01T07:24:11Z
66760   2.714365e+14        5666586      M  2016-05-05T18:15:53Z
74340   2.863523e+14        5670770      F  2016-05-06T14:38:27Z

              AppointmentDay  Age   Neighbourhood  Scholarship  Hipertension  \
91581   2016-06-01T00:00:00Z   27        GURIGICA            0             0
20935   2016-05-04T00:00:00Z   15  NOVA PALESTINA            0             0
76632   2016-05-30T00:00:00Z   32      ANDORINHAS            1             0
105701  2016-06-06T00:00:00Z   84          CENTRO            0             0
93761   2016-06-06T00:00:00Z    1     MARIA ORTIZ            0             0
75031   2016-05-17T00:00:00Z   56       SÃO PEDRO            0             0
9775    2016-05-09T00:00:00Z   71           ROMÃO            1             0
102150  2016-06-01T00:00:00Z    2        REDENÇÃO            0             0
66760   2016-05-05T00:00:00Z   59  JARDIM CAMBURI            0             0
74340   2016-05-10T00:00:00Z   63  JARDIM CAMBURI            0             1

        Diabetes  Alcoholism  Handcap  SMS_received No-show
91581          0           0        0             0      No
20935          0           0        0             0     Yes
76632          0           0        0             0      No
105701         0           0        0             0      No
93761          0           0        0             1      No
75031          0           0        0             0      No
9775           0           0        0             0      No
102150         0           0        0             0      No
66760          0           0        0             0      No
74340          1           0        0             1      No

### <font color="green">6.0 Challenges </font>

In [30]:
# Challenge 1
# ---
# Select a random sample of 10 from the given dataset below 
# ---
# Dataset url = http://bit.ly/DSRussianInvestigation
# ---
#
# Loading the dataset
df = pd.read_csv("http://bit.ly/DSRussianInvestigation")

# Determining the size
print(df.shape)


# Previewing the dataset
print(df.head())

# Selecting the sample 
df_sample = df.sample(n = 10, replace="False")
print(df_sample)

(194, 13)
  investigation investigation-start investigation-end  investigation-days  \
0     watergate          1973-05-19        1977-06-19                1492
1     watergate          1973-05-19        1977-06-19                1492
2     watergate          1973-05-19        1977-06-19                1492
3     watergate          1973-05-19        1977-06-19                1492
4     watergate          1973-05-19        1977-06-19                1492

                  name  indictment-days          type     cp-date  cp-days  \
0      James W. McCord            -246.0   conviction  1973-01-30   -109.0
1    Bernard L. Barker            -246.0   conviction  1973-01-15   -124.0
2    Bernard L. Barker             292.0   conviction  1974-07-12    419.0
3  Eugenio R. Martinez            -246.0  guilty-plea  1973-01-15   -124.0
4  Eugenio R. Martinez             292.0   conviction  1974-07-12    419.0

   overturned  pardoned  american      president
0       False     False      True  Richard Nixon
1       False     False      True  Richard Nixon
2        True     False      True  Richard Nixon
3       False      True      True  Richard Nixon
4        True     False      True  Richard Nixon
    investigation investigation-start investigation-end  investigation-days  \
179        russia          2017-05-17               NaN                 659
133    whitewater          1994-08-05        2002-03-06                2770
166        russia          2017-05-17               NaN                 659
131    whitewater          1994-08-05        2002-03-06                2770
193        russia          2017-05-17               NaN                 659
166        russia          2017-05-17               NaN                 659
128    whitewater          1994-08-05        2002-03-06                2770
89    iran-contra          1986-12-19        1993-08-03                2419
22      watergate          1973-05-19        1977-06-19                1492
157        herman          1998-05-26        2000-04-07                 682

                    name  indictment-days          type     cp-date  cp-days  \
179  Konstantin Kilimnik             387.0   indictment         NaN      NaN
133      Charles C. Owen            1364.0   indictment         NaN      NaN
166   Russian national 3             275.0   indictment         NaN      NaN
131      Suzanna Hubbell            1364.0   indictment         NaN      NaN
193          Roger Stone             618.0   indictment         NaN      NaN
166   Russian national 3             275.0   indictment         NaN      NaN
128       Susan McDougal             377.0   conviction  1996-05-26    660.0
89       Clair E. George            1722.0   conviction  1992-12-10   2183.0
22       Russell DeYoung             151.0  guilty-plea  1973-10-17    151.0
157         Abdul Rahman             631.0   indictment         NaN      NaN

     overturned  pardoned  american      president
179       False     False     False   Donald Trump
133       False     False      True   Bill Clinton
166       False     False     False   Donald Trump
131       False     False      True   Bill Clinton
193       False     False      True   Donald Trump
166       False     False     False   Donald Trump
128       False      True      True   Bill Clinton
89        False      True      True  Ronald Reagan
22        False     False      True  Richard Nixon
157       False     False     False   Bill Clinton

In [36]:
# Challenge 2
# ---
# A medical company would like to follow up with 50 patients who never showed up for appointments 
# but received an sms. Select a random sample from such patients given the medical dataset below 
# ---
# Dataset 
url = "http://bit.ly/MedicalAppointmentsDataset"
df = pd.read_csv(url)
print(df.shape)

#Filter the patients who received the sms
df = df[df['SMS_received'] ==1]

# Selecting the sample 
df_sample = df.sample(n = 50, replace="False")
print(df_sample)

(110527, 14)
           PatientId  AppointmentID Gender          ScheduledDay  \
5732    1.335689e+10        5731923      F  2016-05-24T10:43:21Z
75348   2.415580e+10        5680399      F  2016-05-10T11:51:18Z
29007   5.246374e+12        5596591      F  2016-04-18T14:55:06Z
91875   5.574136e+13        5733043      F  2016-05-24T13:13:58Z
84166   1.681732e+14        5713913      F  2016-05-18T10:56:28Z
44115   5.822789e+14        5593946      F  2016-04-18T10:02:11Z
58631   5.984720e+14        5571114      M  2016-04-12T08:41:36Z
85927   3.968440e+11        5578508      M  2016-04-13T12:39:21Z
100679  2.655612e+13        5608964      M  2016-04-20T14:52:08Z
98209   4.575618e+14        5707538      M  2016-05-17T09:45:22Z
46507   6.417624e+13        5589896      F  2016-04-15T13:06:22Z
15673   3.666592e+13        5714766      F  2016-05-18T13:03:27Z
59051   9.179366e+11        5543400      F  2016-04-05T10:06:43Z
19475   3.677784e+13        5630581      F  2016-04-27T15:41:10Z
104798  9.387682e+14        5760414      F  2016-06-01T14:50:14Z
70649   3.862184e+14        5693801      F  2016-05-13T07:41:51Z
70743   7.728359e+12        5668644      F  2016-05-06T09:28:58Z
20204   8.839433e+11        5722448      F  2016-05-20T07:18:34Z
34336   2.771549e+11        5649567      M  2016-05-03T07:04:05Z
43179   4.399596e+11        5663770      F  2016-05-05T10:32:47Z
79177   7.995388e+12        5606233      F  2016-04-20T09:59:39Z
110357  9.876374e+12        5758166      F  2016-06-01T10:22:15Z
96170   1.664792e+12        5681658      M  2016-05-10T14:52:38Z
26694   4.476643e+09        5713327      F  2016-05-18T09:59:10Z
64762   8.235952e+12        5418822      F  2016-03-02T08:22:25Z
84041   4.552426e+13        5734491      F  2016-05-24T15:42:39Z
15088   6.638874e+13        5658897      F  2016-05-04T12:21:43Z
55580   2.779118e+12        5632305      F  2016-04-28T07:51:31Z
110208  7.856112e+13        5625978      F  2016-04-27T07:46:34Z
104189  5.467582e+13        5710127      M  2016-05-17T15:18:02Z
65911   2.228366e+13        5604691      F  2016-04-20T08:13:36Z
65583   5.441451e+13        5604797      F  2016-04-20T08:20:10Z
21750   3.136367e+13        5669089      F  2016-05-06T10:19:26Z
49692   2.224684e+12        5672142      F  2016-05-09T07:40:11Z
77989   2.458196e+13        5677891      F  2016-05-10T07:47:28Z
99995   7.159914e+13        5755900      F  2016-06-01T07:46:49Z
94673   9.159720e+13        5746623      F  2016-05-30T14:16:04Z
105868  7.262751e+13        5717425      F  2016-05-19T07:56:18Z
71592   7.929575e+10        5709693      F  2016-05-17T14:17:06Z
66738   5.166468e+13        5418550      M  2016-03-02T08:01:32Z
69475   8.429736e+12        5621085      F  2016-04-26T09:48:44Z
13186   6.273989e+12        5568337      F  2016-04-11T14:18:57Z
104204  2.734196e+14        5760394      F  2016-06-01T14:48:34Z
52044   7.151413e+13        5651341      F  2016-05-03T08:42:09Z
78461   8.818646e+14        5609694      M  2016-04-20T16:40:32Z
78631   1.674954e+14        5640242      F  2016-04-29T10:22:11Z
21895   2.649822e+12        5624728      F  2016-04-26T16:49:06Z
103235  1.638915e+12        5541801      F  2016-04-05T08:21:15Z
28950   4.597518e+14        5596297      F  2016-04-18T14:19:29Z
64869   1.946623e+11        5566143      F  2016-04-11T09:57:22Z

              AppointmentDay  Age        Neighbourhood  Scholarship  \
5732    2016-05-31T00:00:00Z   38      JARDIM DA PENHA            0
75348   2016-05-30T00:00:00Z   21       NOVA PALESTINA            0
29007   2016-05-05T00:00:00Z   18       FORTE SÃO JOÃO            0
91875   2016-06-08T00:00:00Z   24      JARDIM DA PENHA            0
84166   2016-06-06T00:00:00Z   68        MATA DA PRAIA            0
44115   2016-05-10T00:00:00Z    1             SÃO JOSÉ            0
58631   2016-05-03T00:00:00Z    8      JARDIM DA PENHA            0
85927   2016-06-08T00:00:00Z    0       JARDIM CAMBURI            0
100679  2016-06-01T00:00:00Z   35           TABUAZEIRO            0
98209   2016-06-02T00:00:00Z    7               JABOUR            0
46507   2016-05-03T00:00:00Z   67          MARIA ORTIZ            0
15673   2016-05-30T00:00:00Z   35       NOVA PALESTINA            1
59051   2016-05-05T00:00:00Z   49            DO CABRAL            0
19475   2016-05-04T00:00:00Z   36  ILHA DE SANTA MARIA            0
104798  2016-06-07T00:00:00Z   22           TABUAZEIRO            0
70649   2016-05-30T00:00:00Z   62       PRAIA DO CANTO            0
70743   2016-05-12T00:00:00Z   58       BARRO VERMELHO            0
20204   2016-05-25T00:00:00Z   16             SÃO JOSÉ            0
34336   2016-05-10T00:00:00Z   13          SANTO ANDRÉ            0
43179   2016-05-12T00:00:00Z    3       BENTO FERREIRA            0
79177   2016-05-11T00:00:00Z   74        SÃO CRISTÓVÃO            0
110357  2016-06-08T00:00:00Z   36          RESISTÊNCIA            0
96170   2016-06-07T00:00:00Z   63        MATA DA PRAIA            0
26694   2016-05-24T00:00:00Z   59               CENTRO            0
64762   2016-05-06T00:00:00Z   44       JARDIM CAMBURI            0
84041   2016-05-30T00:00:00Z   44        SÃO CRISTÓVÃO            1
15088   2016-05-12T00:00:00Z   27             SÃO JOSÉ            1
55580   2016-05-06T00:00:00Z    5             DA PENHA            0
110208  2016-06-02T00:00:00Z   54          MARIA ORTIZ            0
104189  2016-06-06T00:00:00Z    1           CONSOLAÇÃO            0
65911   2016-05-10T00:00:00Z   25          JOANA D´ARC            0
65583   2016-05-02T00:00:00Z    1        SÃO CRISTÓVÃO            0
21750   2016-05-10T00:00:00Z   54      JARDIM DA PENHA            0
49692   2016-05-12T00:00:00Z   57       PARQUE MOSCOSO            0
77989   2016-05-31T00:00:00Z   30               BONFIM            0
99995   2016-06-08T00:00:00Z   28          RESISTÊNCIA            0
94673   2016-06-02T00:00:00Z   36        SÃO CRISTÓVÃO            1
105868  2016-06-02T00:00:00Z   53          RESISTÊNCIA            1
71592   2016-05-24T00:00:00Z   60       BARRO VERMELHO            0
66738   2016-05-11T00:00:00Z   83       JARDIM CAMBURI            0
69475   2016-05-30T00:00:00Z   45          JOANA D´ARC            0
13186   2016-05-25T00:00:00Z   45          JUCUTUQUARA            0
104204  2016-06-06T00:00:00Z   63           CONSOLAÇÃO            0
52044   2016-05-06T00:00:00Z   40     ILHA DO PRÍNCIPE            0
78461   2016-05-12T00:00:00Z   24               BONFIM            0
78631   2016-05-11T00:00:00Z    5              MARUÍPE            1
21895   2016-05-06T00:00:00Z   68           GOIABEIRAS            0
103235  2016-06-03T00:00:00Z   63          JOANA D´ARC            0
28950   2016-05-05T00:00:00Z   19           CRUZAMENTO            0
64869   2016-05-25T00:00:00Z   41       JARDIM CAMBURI            0

        Hipertension  Diabetes  Alcoholism  Handcap  SMS_received No-show
5732               0         0           0        0             1      No
75348              0         0           0        0             1     Yes
29007              0         0           0        0             1      No
91875              0         0           0        0             1      No
84166              0         0           0        0             1      No
44115              0         0           0        0             1     Yes
58631              0         0           0        0             1     Yes
85927              0         0           0        0             1      No
100679             0         0           0        0             1      No
98209              0         0           0        0             1      No
46507              0         0           0        0             1     Yes
15673              0         0           0        0             1     Yes
59051              1         0           0        0             1     Yes
19475              0         0           0        0             1     Yes
104798             0         0           0        0             1     Yes
70649              0         0           0        0             1      No
70743              0         0           0        0             1      No
20204              0         0           0        0             1      No
34336              0         0           0        0             1      No
43179              0         0           0        0             1      No
79177              1         1           0        0             1      No
110357             0         0           0        0             1      No
96170              0         0           0        0             1      No
26694              0         0           0        0             1      No
64762              0         0           0        0             1     Yes
84041              1         1           0        0             1      No
15088              0         0           0        0             1      No
55580              0         0           0        0             1      No
110208             0         0           0        0             1      No
104189             0         0           0        0             1      No
65911              0         0           0        0             1     Yes
65583              0         0           0        0             1      No
21750              0         0           0        0             1      No
49692              0         0           0        0             1     Yes
77989              0         0           0        0             1     Yes
99995              0         0           0        0             1      No
94673              0         0           0        0             1     Yes
105868             0         0           0        0             1      No
71592              0         0           0        0             1      No
66738              1         0           0        0             1      No
69475              0         0           0        0             1     Yes
13186              1         0           0        0             1      No
104204             0         0           0        0             1      No
52044              0         0           0        0             1      No
78461              0         0           0        0             1      No
78631              0         0           0        0             1     Yes
21895              1         1           0        0             1      No
103235             1         0           0        0             1      No
28950              0         0           0        0             1     Yes
64869              0         0           0        0             1      No